extends ./templates/layout

block append style
	link(href="./assets/css/construction.css", rel="stylesheet" media="screen" title="no title")

	block title
		title Festivibez

		meta(name='description', content='Review music festivals')
		meta(name='keywords', content='music festivals, parties, music, coachella, california')

block main
	.outer.shadow
		.middle
			.inner
				.row
					.col-md-3
					.col-md-6
						img#festivibez(src="./assets/img/festivibez_logo.svg", alt="Festivibez")
						br
						br
						h3.text-center.text-stroke Under Construction 
