extends ./templates/layout

block append style
	link(href="./assets/css/construction.css", rel="stylesheet" media="screen" title="no title")

block main
	.outer.shadow
		.middle
			.inner
				.row
					.col-md-3
					.col-md-6
						img#festivibez(src="./assets/img/festivibez_logo.svg", alt="Festivibez")
						br
						br
						h3.text-center.text-stroke Under Construction 
