extends ./templates/main
include ./mixins/review.pug

block append style
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
  link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
  link(href="./assets/css/festival.css", rel="stylesheet" media="screen" title="no title")

block main
  .container
    .row
      .col-lg-1
      .col-lg-10.black-bg#festival-info-container 
        .col-md-6
          h1#festival-name Coachella
        .col-md-6#avg-festival-rating
          h2#vibez Overall Vibez
        .star-rating
          span#one-star ☆
          span#two-stars ☆
          span#three-stars ☆
          span#four-stars ☆
          span#five-stars ☆ 
        .row
        .col-md-6.festival-basics
          ul#festival-information
          li Location: #[span.festival-location Indio]
          li Dates: #[span.festival-dates 4/21/17]
          li Camping: #[span.festival-camping Yes]
          li Website: #[span.festival-website] #[a#festival-website-link https://www.coachella.com/]
        .col-md-6
          img.festival-pictures#festival-pic(src="../assets/images/coachella.jpg" alt="Image Title")
        .row#summary
        .col-lg-12.festival-summary
          h3 Summary
          p Coachella Music and Arts Festival occurss in the deserts of Indio, California each year. For two weekends in April, you can join the riff-raff with other young, beautiful, and often times wealthy people while you watch some of the greatest (and not so greatest) bands perform. Often times there will be special guests or bands reuniting. 
    .row#user-reviews-container
      h2#reviews-header.text-center Festival Reviews
      //- reviews
      .row
      .col-lg-1
      .col-lg-10.black-bg
        +userReview()
        +userReview()