extends ./templates/mainEmbed
include ./mixins/review.pug
include ./mixins/festival-mixin.pug

block append style
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
  link(href="../assets/css/index.css", rel="stylesheet" media="screen" title="no title")
  link(href="../assets/css/festival.css", rel="stylesheet" media="screen" title="no title")
  //- link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide|Cinzel+Decorative|Comfortaa|Fjalla+One|Gruppo|Kavivanar|Poiret+One|Roboto+Condensed|Source+Code+Pro" rel="stylesheet")
 

block main
  .row.festival-wrapper
    .col-lg-1
    .col-lg-10
      +festivalMix(name, location, dates, camping, website,  summary, stars, img)
       
  .row.festival-wrapper#user-reviews-container
    h2#reviews-header.text-center REVIEWS
    .row
     .col-lg-1.noborder
     .col-lg-10.review-container
      +userReview(avatar, createdAt, sound, crowd, security, cost, overall, text, thumbs)

block scripts
 scripts(src="./assets/js/reviews.js")