extends ./templates/mainEmbed
include ./mixins/review.pug
include ./mixins/festival-mixin.pug

block append style
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
  link(href="../assets/css/index.css", rel="stylesheet" media="screen" title="no title")
  link(href="../assets/css/festival.css", rel="stylesheet" media="screen" title="no title")
  //- link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide|Cinzel+Decorative|Comfortaa|Fjalla+One|Gruppo|Kavivanar|Poiret+One|Roboto+Condensed|Source+Code+Pro" rel="stylesheet")
  block title
    title Review Music Festival

    meta(name='description', content='Website where you can review music festivals')
    meta(name='keywords', content='music festivals, parties, music, coachella, california, party, EDM, vibes, fun, events, yelp')

block main
  .row.festival-wrapper
    .col-lg-1
    .col-lg-10
      +festivalMix()
      //- .col-md-6.block1.festival-info
      //-   h1#festival-name COACHELLA
      //-   hr.line
      //-   ul.festival-information
      //-    li Location: #[span.festival-location Indio]
      //-    li Dates: #[span.festival-dates 4/21/17]
      //-    li Camping: #[span.festival-camping Yes]
      //-    li Website: 
      //-      span.festival-website 
      //-        a(id ="festival-website-link" href= "https://www.coachella.com/") https://www.coachella.com/
      //-   h3.festival-summary Summary
      //-   p#summary Coachella Music and Arts Festival occurss in the deserts of Indio, California each year. For two weekends in April, you can join the riff-raff with other young, beautiful, and often times wealthy people while you watch some of the greatest (and not so greatest) bands perform. Often times there will be special guests or bands reuniting. 
      //- .col-md-6.block2.avg-festival-rating
      //-   h3#vibez VIBEZ
      //-   .star-rating
      //-    span.stars
      //-     .glyphicon.glyphicon-star.one
      //-     .glyphicon.glyphicon-star.two
      //-     .glyphicon.glyphicon-star.three
      //-     .glyphicon.glyphicon-star.four
      //-     .glyphicon.glyphicon-star.five
      //-     //- ☆☆☆☆☆
      //-    //- span.stars#tw-stars ☆
      //-    //- span.stars#three-stars ☆
      //-    //- span.stars#four-stars ☆
      //-    //- span.stars#five-stars ☆ 
      //-   img.festival-pictures#festival-pic(href="coachella-big.jpg" target="_blank" src="../assets/images/coachella.jpg" alt="Image Title")
      //- //- .row
      //- //- .col-md-6.festival-basics
        
      //- .col-md-6
        
      //- .row#summary
      //- .col-lg-12.festival-summary
       
  .row.festival-wrapper#user-reviews-container
    h2#reviews-header.text-center REVIEWS
    //- reviews
    .row
     .col-lg-1.noborder
     .col-lg-10.review-container
      +userReview()
      +userReview()
      +userReview()

block scripts
 scripts(src="../assets/js/reviews.js")