extends ./templates/main

block append style
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/form.css", rel="stylesheet" media="screen" title="no title")
	//- link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide|Cinzel+Decorative|Comfortaa|Fjalla+One|Gruppo|Kavivanar|Poiret+One|Roboto+Condensed|Source+Code+Pro" rel="stylesheet")

block main

		form(id= "main-form")

			h2.text-center What's the vibe?

			label Festival Name:            
				select#select-name
					option 
					option Beyond Wonderland
					option Coachella
					option CRSSD
					option Desert Hearts
					option Dirtybird Campout
					option FYF
					option Hard Summer
					option Kaaboo
					option Lightning in a Bottle
					option Outsidelands
					option Reggae on the River
					option Snowglobe
					option Stagecoach
					option Symbiosis
			br

			label What year did you go?         
				select#select-year
					option 
					option 2017
					option 2016
					option 2015
					option 2014
					option 2013
					option 2012
					option 2011
					option 2010
					option 2009
					option 2008
					option 2007
					option 2006
					option 2005
					option 2004
					option 2003
					option 2002
					option 2001
					option 2000
			br

			label Rate your experience
				br
				.rate
					input#star5(type='radio', name='rate', value='5')
					label(for='star5', title='text') 5 stars
					input#star4(type='radio', name='rate', value='4')
					label(for='star4', title='text') 4 stars
					input#star3(type='radio', name='rate', value='3')
					label(for='star3', title='text') 3 stars
					input#star2(type='radio', name='rate', value='2')
					label(for='star2', title='text') 2 stars
					input#star1(type='radio', name='rate', value='1')
					label(for='star1', title='text') 1 star
			br

			label Cost overall?
				input(type= "radio" name="radAnswer1")
				label Cheap
				input(type= "radio" name="radAnswer1")
				label Average
				input(type= "radio" name="radAnswer1")
				label Pricey
			br

			label How was security?           
					input(type= "radio" name="radAnswer2")
					label Tight
					input(type= "radio" name="radAnswer2")
					label Average
					input(type= "radio" name="radAnswer2")
					label Lax
			br

			label How was the sound quality?           
					input(type= "radio" name="radAnswer3")
					label Weak
					input(type= "radio" name="radAnswer3")
					label Average
					input(type= "radio" name="radAnswer3")
					label Bumpin'
			br

			label Tell us more:
			br
			input(type='text', name='fname', placeholder="Title")
			br
			textarea(id= "text-review")
			br

			button submit