extends ./templates/main

block append style
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/form.css", rel="stylesheet" media="screen" title="no title")
	//- link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide|Cinzel+Decorative|Comfortaa|Fjalla+One|Gruppo|Kavivanar|Poiret+One|Roboto+Condensed|Source+Code+Pro" rel="stylesheet")

block main

	form(id= "main-form")

		h2.text-center What's the vibe?

		label Festival Name:            
			select#select-name(name='festival')
				option 
				option Beyond Wonderland
				option Coachella
				option CRSSD
				option Desert Hearts
				option Dirtybird Campout
				option FYF
				option Hard Summer
				option Kaaboo
				option Lightning in a Bottle
				option Outsidelands
				option Reggae on the River
				option Snowglobe
				option Stagecoach
				option Symbiosis
		br

		div#year-select
			label What year(s) did you go?         
				input

		label Rate your experience
			br
			.rate
				input#star5(type='radio', name='overall', value='5')
				label(for='star5', title='text') 5 stars
				input#star4(type='radio', name='overall', value='4')
				label(for='star4', title='text') 4 stars
				input#star3(type='radio', name='overall', value='3')
				label(for='star3', title='text') 3 stars
				input#star2(type='radio', name='overall', value='2')
				label(for='star2', title='text') 2 stars
				input#star1(type='radio', name='overall', value='1')
				label(for='star1', title='text') 1 star
		br

		label Cost overall?
			input(type= "radio" name="cost")
			label Cheap
			input(type= "radio" name="cost")
			label Average
			input(type= "radio" name="cost")
			label Pricey
		br

		label How was security?           
				input(type= "radio" name="security")
				label Tight
				input(type= "radio" name="security")
				label Average
				input(type= "radio" name="security")
				label Lax
		br

		label How was the sound quality?           
				input(type= "radio" name="sound")
				label Weak
				input(type= "radio" name="sound")
				label Average
				input(type= "radio" name="sound")
				label Bumpin'
		br

		label Tell us more:
		br
		input(type='text', name='title', placeholder="Title")
		br
		textarea(id= "text-review", name='text_box')
		br

		button submit

block scripts
	script(src="./assets/js/form.js")