extends ./templates/main

block append style
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/form.css", rel="stylesheet" media="screen" title="no title")
	//- link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide|Cinzel+Decorative|Comfortaa|Fjalla+One|Gruppo|Kavivanar|Poiret+One|Roboto+Condensed|Source+Code+Pro" rel="stylesheet")
	block title
		title What's the Vibe?

		meta(name='description', content='Website where you can review music festivals. Like a yelp for music festivals')
		meta(name='keywords', content='music festivals, parties, music, coachella, california, party, EDM, vibes, fun, events, yelp')

block main

	form(id= "main-form")

		h2.text-center What's the vibe?

		label Festival Name:            
			select#select-name(name='festival')
				option 
				option Beyond Wonderland
				option Coachella
				option CRSSD
				option Desert Hearts
				option Dirtybird Campout
				option FYF
				option Hard Summer
				option Kaaboo
				option Lightning in a Bottle
				option Outsidelands
				option Reggae on the River
				option Snowglobe
				option Stagecoach
				option Symbiosis
		br

		div
			label What year(s) did you go?         
				input#year-select

		label Rate your experience
			br
			ul.rate-area
				input#5-star(class="rating" type='radio', name='rating', value='5')
				label(for='5-star', title='Amazing') 5 stars
				input#4-star(class="rating" type='radio', name='rating', value='4')
				label(for='4-star', title='Good') 4 stars
				input#3-star(class="rating" type='radio', name='rating', value='3')
				label(for='3-star', title='Average') 3 stars
				input#2-star(class="rating" type='radio', name='rating', value='2')
				label(for='2-star', title='Not Good') 2 stars
				input#1-star(class="rating" type='radio', name='rating', value='1')
				label(for='1-star', title='Bad') 1 star
		br

		label Cost overall?
			input(class="cost" type= "radio" name="cost" value='Cheap')
			label Cheap
			input(class="cost" type= "radio" name="cost" value='Average')
			label Average
			input(class="cost" type= "radio" name="cost" value='Pricey')
			label Pricey
		br

		label How was security?           
				input(class="security" type= "radio" name="security" value='Tight')
				label Tight
				input(class="security" type= "radio" name="security" value='Average')
				label Average
				input(class="security" type= "radio" name="security" value='Lax')
				label Lax
		br

		label How was the sound quality?           
				input(class="sound" type= "radio" name="sound" value='Weak')
				label Weak
				input(class="sound" type= "radio" name="sound" value='Average')
				label Average
				input(class="sound" type= "radio" name="sound" value='Bumpin')
				label Bumpin'
		br

		label Tell us more:
		br
		input(type='text', name='title', placeholder="Title (optional")
		br
		textarea(id= "text-review", name='text_box')
		br

		button#submit submit

block scripts
	script(src="./assets/js/form.js")