extends ./templates/layout
include ./mixins/navbar

block append style
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
	link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
	block title
		title Festivibez

		meta(name='description', content='Website where you can review music festivals')
		meta(name='keywords', content='music festivals, parties, music, coachella, california, party, EDM, vibes, fun, events, yelp')

block main
	+navbar("FestiVibez", "main-nav", "dark", "#")
		+nav_item("/index", "dark", "active", "Home")
		+nav_item("/form", "dark", "active", "Add Review")
		+nav_item("/search", "dark", "active", "Search")
	.row
		#slide-show.container-fluid
			//- .left.bar-content.activeIndex Home
			//- .left.bar-content Share Your Vibe
			//- .left.bar-content Festivals
			//- .left.bar-content Gear
			//- .right.bar-content Login 
			//- .right.bar-content.activeIndex Sign Up
			img#festivibez(src="./assets/img/festivibez_logo.svg", alt="Festivibez")
			div.form-inline.global-search(role='form')
				.form-group
					label.sr-only(for='') Enter search terms
					|  
					input#k.form-control(type='search', name='k', placeholder='Enter search terms')
					|  
					input#cn(name='cn', type='hidden', value='false')
				|  
				button#s.btn.btn-default(type='submit')
					span.glyphicon.glyphicon-search
			.bottom-right
				i.fa.fa-angle-left.arrow(aria-hidden="true")
				i.fa.fa-angle-right.arrow(aria-hidden="true")

block script
	script(src="../assets/js/autocomplete.js")