extends ./templates/main
include ./mixins/festivalList.pug

block append style
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
  link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
  link(href="./assets/css/festival.css", rel="stylesheet" media="screen" title="no title")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css", rel="stylesheet" media="screen" title="no title")

block main
 .row
  .col-lg-1
  .col-lg-10
   .row
    .col-lg-12
      h1 Festival Name

block scripts
  script(src="./assets/js/autocomplete.js")
  