extends ./templates/mainEmbed
include ./mixins/festivalList.pug

block append style
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
  link(href="../assets/css/index.css", rel="stylesheet" media="screen" title="no title")
  link(href="../assets/css/festival.css", rel="stylesheet" media="screen" title="no title")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css", rel="stylesheet" media="screen" title="no title")

block main
  .row
    .col-lg-1
    .col-lg-1.result-block
      h3 image
    .col-lg-2.result-block
      h3 Festival Name
    .col-lg-1.result-block
      h3 Overall
    .col-lg-1.result-block
      h3 Genre
    .col-lg-2.result-block
      h3.text-center Location
    .col-lg-2.result-block
      h3 Dates
    .col-lg-1.result-block
      h3 Website
    each val in data
      +festivalList(val.img_url, val.name, val.overall, val.genre, val.location, val.dates, val.url)

block scripts
  script(src="../assets/js/autocomplete.js")
  