extends ./templates/main

block append style
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet" media="screen" title="no title")
    link(href="./assets/css/index.css", rel="stylesheet" media="screen" title="no title")
    link(href="./assets/css/form.css", rel="stylesheet" media="screen" title="no title")
    //- link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Audiowide|Cinzel+Decorative|Comfortaa|Fjalla+One|Gruppo|Kavivanar|Poiret+One|Roboto+Condensed|Source+Code+Pro" rel="stylesheet")

block main

    form(id= "main-form")
        h3 Welcome, User!

        h4 Festivals You Have Reviewed:

        h4 Your favorite Festivals:

        h4 Reviews You've Liked: