doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FestiVibez
        block config
            -var bootstrap= "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css";
            -var bootrapScripts= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js";
            -var jqueryCDN= "https://code.jquery.com/jquery.js";
            -var pageStyle= "./assets/css/styles.css";
            link(href=bootstrap, rel="stylesheet")
            link(href=pageStyle, rel="stylesheet" media="screen" title="no title")
            script(src=jqueryCDN)
            script(src=bootrapScripts)
        
    body
        block main
            h1 !!!!Success!!!!