body{
	background-color: black;
/*	 #7B00F2;*/
	/*lightblue;*/
	/* yellow;*/
	/*#D00EFF;*/
	/*#FFB40C;*/
	/*#ef5411;*/
}
#main-nav{
	background-color: black;
	opacity: .7;
}
#festival-name {
/*	font-family: 'Orbitron', sans-serif;*/
	font-family: 'Cinzel Decorative', cursive;
	letter-spacing: 3px;
	background-color: #B6D6F2;
	/*#FF8E0C;*/
	/*9305F2;*/
	padding: 15PX;
	text-align: center;
	border-radius: 6px;
	box-shadow: 5px 5px 10px black;
	font-size: 50px;
	margin-top: -5px;

}

.line{
	margin-top: 21px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #ecf0f1;
}

.festival-information{
	line-height: 25px;	
	margin-left: -40px;
}

#summary { 
	background-color: white;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	letter-spacing: 1px;
	color:black;
	border-radius: 10px;
	font-size: 16px;
	overflow: 0;
}

.festival-info {
	background-color: white;
	color:black;
	padding: 20px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 40px;
	/*margin-left: -15px;*/
	max-height: 511.33;
}

.block1, .block2 {
	height: 430px;
}

#vibez {
	/*font-family: 'Source Code Pro', monospace;*/
	/*font-family: 'Cinzel Decorative', cursive;*/
  /*  font-family: 'Roboto Condensed', sans-serif;*/
    font-family: 'Audiowide', cursive;
	/**font-family: 'Gruppo', cursive;*/
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 65px;
	letter-spacing: 8px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/*background-color: red;*/	
}

.star-rating {
	font-size: 30px;
    letter-spacing: 4px;
    margin-left: 70px;
    margin-bottom: 15px;
    color:black;
}

.festival-pic {
	max-width: 400px;
	max-height: 300px;
}

.avg-festival-rating{;
	background-color: #323232;
/*	#646464;*/
	 /*#FF8E0C;*/
	/*FF0000;*/
/*	#7B00F2;*/
	max-height:511.33;
	color:white;
	/*padding: 10px;*/
	border-top-right-radius: 40px;
	border-bottom-right-radius: 8px;
	padding-bottom: 30px;
	padding-left: 140px;
}

.glyphicon-star.one, .glyphicon-star.two, .glyphicon-star.three {
	/*padding-bottom: 10px;*/
	color: yellow;
	/*#E60CE8;*/
}

.glyphicon-star.four, .glyphicon-star.five{
	color: white;
}

li {
	list-style: none;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 18px;

}

h3, #vibes, .stars {
	/*color: white;*/
	
	font-family: 'Source Code Pro', monospace;
}

h3 {
	font-family: 'Source Code Pro', monospace;
	font-size: 25px;	
}

.festival-summary {
	max-height: 90px;
	/*font-family: 'Roboto Condensed', sans-serif;*/
}

#reviews-header {
	background-color: black;
	max-width: 759px;
	margin-left: 270px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	text-align: center;
	/*font-family: 'Gruppo', cursive;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	/*font-family: 'Comfortaa', cursive;*/
}

.glyphicon.glyphicon-star-o{
	color: red;
}

.review-container{
	background-color: white;
	border: 3px black solid;
	border-radius: 15px; 

}

.user-profile{
	/*margin-left: 80px;*/
	background-color: #99878D;
	padding-bottom: 60px;
/*	margin-bottom: -10px;*/
}

.user-review-container{
	max-width: 600px;
	margin-right: 40px;
	font-size: 18px;
}
.user-avatar{
	margin-top: 25px;
}
.user-info{
	color: black;
	border-top: black 3px solid;
	/*margin-top: 10px;*/
	padding-bottom: 5px;
	
}

h6 {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 16px;
}

#user-text-review, h6, {
/*	font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 18px;
	margin-bottom: -10px;
}

.user-other-ratings{
	margin-right: 50px;
	font-size: 18px;
}

/*divider{
	border-left: lightgrey solid 2px;
	margin-right: 100px;
	line-height: 100px;

}
*/
.user-star-ratings{
	margin-left: 15px;
	size: 18px;
}

#reviews-header, #user-text-review, h6, .festival-summary, li, #summary{
	font-family: 'Roboto Condensed', sans-serif;
}

#user-vibez{
	font-family: 'Audiowide', cursive;
	background-color: #FF8E0C;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px black;
	max-width: 110px;

}

/*#one-star, #two{
	color: black;
}*/