@media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }


body {
    background-image: url("../images/bgpics/bg-pic1.png");
    color: black;
    font-size: 18px;
}

button{

}

#main-form {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 6px;
    box-shadow: 5px 5px 30px black;
    margin-top: -5px;
    letter-spacing: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left:0em;

/*    text-align: center;*/
}

h2 {
   /* letter-spacing: 3px;*/
    background-color: #B6D6F2;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 5px 5px 10px black;
    font-size: 50px;
    margin-top: -5px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Pontano Sans', sans-serif;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 40px;
}

#user-inputs {
  padding-left: 4em;
}

#text-review {
    width: 400px;
    height: 200px;
    text-align: top;
}

button {
    margin-top: 6px;
}

.rate-area {
 /* float: left;*/
  border-style: none;
 /* margin-left: 3em;*/
}

.rate-area:not(:checked) > input {
  position: absolute;
  clip: rect(0,0,0,0);
}

.rate-area:not(:checked) > label {
  float: right;
  width: 1.1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.2;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rate-area:not(:checked) > label:before { content: '★ '; }

.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 150% !important;

}

.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }

.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.rate-area {
  /*  padding-left: 0px;
    margin-bottom: 0px;*/
    /*margin-right: 400px;*/
    float: right;

}

label::before {
    padding: 0px;
}

.footer {
    background-color: rgba(50, 50, 50, .5);
    height: 50px;
    margin-top: 20px;
}

input[name="cost"]{
    margin-right: 2px;
    margin-left: 5px;
}

input[name="security"]{
    margin-right: 2px;
    margin-left: 5px;
}

input[name="sound"]{
    margin-right: 2px;
    margin-left: 5px;
}

input[name="title"]{
    width: 400px;
}

.black-bg {
    background-color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar-dark {
    background-color: #321f4b;
    color: white;
    border-radius: 0;}

.navbar-dark a {
    color: white !important;
}

.navbar-dark a:hover {
    color: white !important;
    text-shadow: 0 0 2px white;
}

.active {
    border-radius: 0px;
    border: 0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.active:hover {
    background-color: white;
}

#select-name{
  margin-left: 8em;
}
#year-select{
  margin-left: 4em;
}
.rate-area{
  margin-left: 3em;
}

.rating {
  margin-left: 40px;
}

.form-selectors-cost {
  margin-left: 8.5em;
}

.form-selectors-security{
  margin-left: 6em;
}

.form-selectors-sound{
  margin-left: 2.4em;
}