body{
   /* background-image: url("../images/bgpics/bg-pic1.png");
    background-repeat: repeat !important;*/
}

table {
    background: rgba(15, 9, 23, .8);
    margin: 0 auto;
    width: 95%;
    border: solid 2px white;
    border-radius: 10px;
}

th {
    text-align: left;
    background: white;
    color: #0f0917;
    font-size: 18px;
    border-right: solid 2px black;
    ;
}

td {
    color: white;
}
a {

    
}

.fancy{
    color: rgb(0, 255, 255);
    font-size: larger;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration-line: none;
    text-shadow: 0 0 3px white;
    text-align: center;
}

img.circle {
    width: 200px;
    height: auto;
    border-radius: 500px;
    margin: 10px;
}

tr:nth-child(odd) {
    background-color: rgba(33, 43, 55, .8);
}

th {
    padding-right: 40px;
}

img:hover {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}

.fa{
    text-shadow: 0 0 5px black;
}

.btn-web{
    margin: 10px;
    border-radius: 15px;
}