table {
    background: #0f0917;
    margin: 0 auto;
    width: 95%;
    border: solid 2px white;
    border-radius: 10px;
}

th {
    text-align: left;
    background: white;
    color: #0f0917;
    font-size: 18px;
    border-right: solid 2px black;
    ;
}

a {
    font-size: larger;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration-line: none;
    text-shadow: 0 0 3px white;
    text-align: center;
}

img.circle {
    width: 200px;
    height: auto;
    border-radius: 500px;
    margin: 10px;
}

tr:nth-child(odd) {
    background-color: #212b37;
}

img:hover {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}