.temp-bar {
    background-color: grey;
    width: 100%;
    height: 50px;
}

.temp-bar select {
    margin: 0 auto;
    display: block;
    color: black;
}

.temp-bar h4 {
    color: black;
}

body {
    background-color: #493966;
    color: red;
}

#main-form {
    background-color: yellow;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#text-review {
    width: 400px;
    height: 200px;
    text-align: top;
}

button {
    margin-top: 6px;
}

h4 {
    font-size: smaller;
    color: grey;
}

.footer {
    background-color: rgba(50, 50, 50, .5);
    height: 50px;
    margin-top: 20px;
}

.black-bg {
    background-color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar-dark {
    background-color: #321f4b;
    color: white;
    border-radius: 0;
}

.navbar-dark a {
    color: white !important;
}

.navbar-dark a:hover {
    color: white !important;
    text-shadow: 0 0 2px white;
}

.active {
    border-radius: 0px;
    border: 0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.active:hover {
    background-color: white;
}