mixin searchBar()
	form.form-inline.global-search.search-nav(role='form')
		.form-group
			label.sr-only(for='') Enter search terms
			|  
			input#k.form-control(type='search', name='k', placeholder='Enter search terms')
			|  
			input#cn(name='cn', type='hidden', value='false')
			|  
		button#s.btn.btn-default(type='submit')
			span.glyphicon.glyphicon-search