mixin userReview(avatar, datePosted, sound, crowd, security, cost, stars, review )
	- var avatar = (typeof avatar === "undefined") ? "../assets/images/user1avatar.png" : avatar
	- var datePosted = (typeof datePosted === "undefined") ? "May 1, 2017" : datePosted
	//- Edit all of these
	- var sound = (typeof sound === "undefined") ? "Bumpen" : sound
	- var crowd = (typeof crowd === "undefined") ? "Chill" : crowd
	- var security = (typeof security === "undefined") ? "Tight" : security
	- var cost = (typeof cost === "undefined") ? "Mucho Dinero" : cost
	//- 
	-var stars = (typeof stars === "integer") ? stars : 4
	- var review = (typeof review === "undefined") ? "Anon was here" : review
	.row.user-info
		.col-md-4.user-profile
			img.user-avatar(src=avatar)
			h6.date-header Date Posted #[span.date-posted March 6, 2017]
			ul#user-other-ratings
				li.user-other-ratings Sound: #[span.festival-sound sound]
				li.user-other-ratings Crowd: #[span.festival-crowd crowd]
				li.user-other-ratings Security: #[span.festival-security security]
				li.user-other-ratings Cost: #[span.festival-security cost]
			//- span.divider
		.col-md-8.user-review-container

			h3#user-vibez VIBEZ
			.user-star-ratings
				-for(var i = 0; i < stars; i++){
					.glyphicon.glyphicon-star(aria-hidden="true")
				-}
				-for(var i = 0; i < (5 - stars); i++){
					.glyphicon.glyphicon-star-empty(aria-hidden="true")
				-}
			//- span#one-star ☆
			//- span#two-stars ☆
			//- span#three-stars ☆
			//- span#four-stars ☆
			//- span#five-stars ☆
			p#user-text-review Too many weirdos named Andrew and teeny-boppers named Karth. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ante suscipit, hendrerit turpis vitae, euismod dolor. Curabitur eget dictum tortor. Fusce finibus ullamcorper nunc vitae malesuada. 
			.user-tags
				span#user-tag Too hot  
				| 
				span#user-tag Bring shoes
				| 
				span#user-tag Sweet tunes
